<ion-content [fullscreen]="true" class="container">
  <section>
    <h1>Treinos</h1>
    <button [routerLink]="['/cadastrar-treino']">
      <ion-icon size="50" name="add"></ion-icon>
    </button>
  </section>

  <div *ngFor="let item of treinos">
    <div class="item">
      <div class="descricao">
        <h1>{{item.name}}</h1>

        <p>{{item.descricao}}</p>
      </div>
      <div class="actions">
        <!--button class="delete-btn">Excluir</button-->
        <!--button class="edit-btn">Editar</button-->
        <button (click)="navToExercicios(item)">Começar</button>
      </div>
    </div>
  </div>
</ion-content>
