.container {
  background: #4f4f4f;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 10px;
    h1 {
      color: #27ae60;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
    }
    button {
      padding: 15px;
      background-color: #27ae60;
      border-radius: 50px;
    }
  }

  div {
    &.item {
      display: flex;
      padding: 7px 13px;
      margin: 15px;
      justify-content: space-between;
      background: #4f4f4f;
      border-radius: 15px;

      div {
        &.descricao {
          align-items: center;
          justify-content: space-between;
          h1 {
            color: #27ae60;
          }
        }
        &.actions {
          display: flex;
          align-items: flex-end;
          button {
            font-family: "Poppins" sans-serif;
            padding: 12px 16px;
            border-radius: 20px;
            background: #27ae60;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
