<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Treinos
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add-circle-outline" style="font-size: 24px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-list>
    <ion-item-sliding *ngFor="let item of treinos">
      <ion-item class="item">
        <ion-label>
          <ion-text >
            <h1>{{item.name}}</h1>
          </ion-text>
          <ion-text >
            <p>{{item.tipo}}</p>
          </ion-text>
          <ion-text>
            <p>{{item.tempo}} minutos</p>
          </ion-text>
        </ion-label>
        <div class="actions">
          <button class="delete-btn">
            Excluir
          </button>
          <button class="edit-btn">
            Editar
          </button>
          <button class="begin-btn">
            Começar
          </button>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
