* {
    color: rgb(59, 156, 72);
}

ion-icon:hover {
    color: rgb(48, 118, 223);
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.container .item {
    border: 1px solid rgb(59, 156, 72);
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 50%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-left: 1em;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    border: 1px solid #BBB;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FFF;
    padding: 5px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    margin-right: 0.4em;
}

.actions .delete-btn {
    border-color: #721c24;
    color: #721c24;
}

.actions .edit-btn {
    border-color: #004085;
    color: #004085;
}

.actions .begin-btn {
    border-color:rgb(59, 156, 72);
    color:rgb(59, 156, 72);
}