<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <img src="{{user?.photoURL}}" alt="" />
      <h1>{{user?.displayName}}</h1>
    </div>
    <div class="content">
      <p>data ultima avaliação</p>
      <p class="green-text">12/09/2023</p>
    </div>

    <div class="content">
      <h1>composição corporal</h1>
      <h2>IMC</h2>
      <p class="green-text imc">30.45</p>
      <section>
        <div class="item">
          <p>musculo</p>
          <p class="green-text">39%</p>
        </div>
        <div class="item">
          <p>gordura</p>
          <p class="green-text">26%</p>
        </div>
        <div class="item">
          <p>resíduos</p>
          <p class="green-text">24%</p>
        </div>
      </section>
    </div>

    <div class="content">
      <section>
        <div class="item">
          <p>musculo</p>
          <p class="green-text">39%</p>
        </div>
        <div class="item">
          <p>gordura</p>
          <p class="green-text">26%</p>
        </div>
        <div class="item">
          <p>resíduos</p>
          <p class="green-text">24%</p>
        </div>
      </section>
    </div>

    <div class="button-area">
      <button (click)="logOut()">logout</button>
      <button>salvar</button>
    </div>
  </div>
</ion-content>
