<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Treinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-input
      class="input"
      fill="outline"
      placeholder="Nome do treino"
    ></ion-input>
    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              fill="outline"
              placeholder="Exercício"
            ></ion-input> </ion-col
        ></ion-row>
        <ion-row>
          <ion-col
            ><ion-input fill="outline" placeholder="Repetições"></ion-input
          ></ion-col>
          <ion-col>
            <ion-input fill="outline" placeholder="Séries"></ion-input
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col />
          <ion-col>
            <ion-button expand="block">Adicionar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card">
      <ion-grid>
        <ion-row
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Exercício</h4>
              <span class="exercicio-value">Supino</span>
            </ion-label></ion-col
          ></ion-row
        >
        <ion-row
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Repetições</h4>
              <span class="exercicio-value">12</span>
            </ion-label></ion-col
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Séries</h4>
              <span class="exercicio-value">4</span>
            </ion-label></ion-col
          ></ion-row
        >
      </ion-grid>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button class="salvar-button"> Salvar </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
