<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-back-button slot="start" icon="arrow-back-sharp"></ion-back-button>
    <ion-title>Treinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-input
      class="input"
      fill="outline"
      placeholder="Nome do treino" [(ngModel)]="nomeTreino"
    ></ion-input>
    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              fill="outline"
              placeholder="Exercício" [(ngModel)]="nomeExercicio"
            ></ion-input> </ion-col
        ></ion-row>
        <ion-row>
          <ion-col
            ><ion-input fill="outline" placeholder="Repetições" type="number" [(ngModel)]="numeroRepeticoes"></ion-input
          ></ion-col>
          <ion-col>
            <ion-input fill="outline" placeholder="Séries" type="number" [(ngModel)]="numeroSeries"></ion-input
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col />
          <ion-col>
            <ion-button expand="block" (click)="adicionarExercicio()">Adicionar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card" *ngFor="let item of exercicios">
      <ion-grid >
        <ion-row
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Exercício</h4>
              <span class="exercicio-value">{{item.name}}</span>
            </ion-label></ion-col
          ></ion-row
        >
        <ion-row
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Repetições</h4>
              <span class="exercicio-value">{{item.repeticoes}}</span>
            </ion-label></ion-col
          ><ion-col
            ><ion-label>
              <h4 class="exercicio-label">Séries</h4>
              <span class="exercicio-value">{{item.serie}}</span>
            </ion-label></ion-col
          ></ion-row
        >
      </ion-grid>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button class="salvar-button" (click)="salvar()"> Salvar </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
