.content {
  padding: 20px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.card {
  background-color: #595959;
  border-radius: 1rem;
}

.exercicio-label {
  color: #27ae60;
}

.exercicio-value {
  font-size: large;
}

.salvar-button {
  --border-radius: 1rem;
  width: 9rem;
  --border-radius: 2rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: large;
  font-weight: 500;
}

.adicionar-button {
  --border-radius: 1rem;
  width: auto;
  --border-radius: 2rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: large;
  font-weight: 500;
}